.btn {
    font-size: 1.563rem;
    background-color: #ED6A5A;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #ED6A5A;
    padding: 0.3em 0.3em;
}

.btn:disabled {
    background-color: #a0a0a0;
    border: 1px solid #a0a0a0;
}

.btn:disabled .btn:hover {
    background-color: #a0a0a0;
    border: 1px solid #a0a0a0;
}

.btn:hover {
    cursor: pointer;
    background-color: #ed998e;
    border: 1px solid #ed998e;
}

.btn-secondary {
    font-size: 1.25em;
}

.btn-start {
    margin-bottom: 2em;
}

@media (min-width:900px) {
    .btn-back {
        /* margin-bottom: 4em; */
    }
}
.btn-back {
    background-color: transparent;
    border: none;
    font-size: 1em;
    text-decoration: underline;
    color:#353535;
}

.btn-back:hover {
    cursor: pointer;
    color:#ED6A5A;
}

.btn-start {
    margin-bottom: 1em;
}

@media (min-width:900px) {
    .btn-start {
        margin-bottom: 4em;
    } 
}

.btns-wrapper {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1em;
    
}