.slider-excited-wrapper {
    width: 100%;
    max-width: 30rem;
}

.slider-excited {
    cursor: pointer;
    width: 100%;
    accent-color: #ED6A5A;
    font-size: 1.2rem;
}

.excitment-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.excitment:first-child  {
    font-size: 1rem;
    color: #404040;
}
.excitment {
    font-size: 1.25rem;
    color: #ED6A5A;
    font-weight: 700;
    
}
